.contactWrapper {
  max-width: 800px;
  margin: 10vh 0;
  height: auto;

    .contactHeader {
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    h1 {
      margin: 10px 0 5px;
    }

    p {
      margin: 5px 0 25px;
      width: 100%;
    }
    @media only screen and (max-width: 750px) {
        p {
            width: 100%;
        }
    }
  }
}
