.aboutWrapper {
  max-width: 800px;
  margin-top: 10vh;
  height: auto;

  .aboutHeader {
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    border: 1px solid red;

    h1 {
      margin: 10px 0 5px;
    }

    p {
      margin: 5px 0 25px;
      width: 80%;
    }
    @media only screen and (max-width: 750px) {
        p {
            width: 100%;
        }
    }
  }
}
