.aboutWrapper {
  max-width: 800px;
  margin-top: 10vh;
  height: auto;

    .aboutHeader {
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    h1 {
      margin: 10px 0 5px;
    }

    p {
      margin: 5px 0 25px;
      width: 100%;
    }
    @media only screen and (max-width: 750px) {
        p {
            width: 100%;
        }
    }
  }

  .aboutSection {
    .aboutSectionContent {
      height: 130px;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 15px 0;

      p {
        margin: 0;
        width: 80%;
        span {
          font-weight: bold;
        }
      }

      .aboutImage {
        height: 100%;
        width: 130px;
        background-color: $navy-blue;
      }
    }
  }

}
