.landingProject {
  width: 49%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;


  h2 {
    margin-bottom: 20px;
  }

  .content {
    position: relative;
    width: 100%;
    height: 80%;

    .hidden-content {
      height: 100%;
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 0;

      h3 {
        margin: 0;

        span {
          color: grey;
        }
      }

    }
    .overlay-content {
      background-color: $mint-blue;
      background-size: cover;
      background-position: top;
      width: 100%;
      height: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 10;
      transition: all 0.3s cubic-bezier(0,0,0,1.4);
    }
  }
}

@media only screen and (max-width: 750px) {
    .landingProject {
        width: 100%;
        height: 250px;
    }
}

.landingProject:hover {
  .overlay-content {
    height: 50%;
  }
}
