.heroPage {
  width: 100vw;
  height: 100vh;
  background-color: salmon;
  display: flex;
  justify-content: center;
}

.container {
  width: 90%;
  height: 100vh;
  max-width: 800px;
  border: 1px solid black;
  display: flex;
  align-items: flex-end;
  padding-bottom: 100px;
}

h1 {
  margin: 0;
}
