.footerWrapper {
  width: 100vw;
  border-top: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 25px;

  .footerContent {
    max-width: 800px;
    width: 100%;
    display: flex;
    align-items: flex-start;

    div {
      margin-right: 120px;

      p {
        font-size: 14px;
      }
    }
    div:nth-child(3) {
      margin-left: auto;
      margin-right: 0;
    }

  }

  @media only screen and (max-width: 750px) {
    .footerContent {
      display: flex;
      flex-direction: column;

      div {
        margin-right: 0;

      }
      div:nth-child(3) {
        margin-left: 0;
      }

    }
  }
}
