.projectsWrapper {
  max-width: 800px;
  margin-top: 10vh;
  height: auto;

  .projectsHeader {
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    h1 {
      margin: 10px 0 5px;
    }

    p {
      margin: 5px 0 25px;
      width: 100%;
    }
    @media only screen and (max-width: 750px) {
        p {
            width: 100%;
        }
    }
}


  .projectsContainer {
    width: 100%;
    height: auto;
    max-width: 800px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
