.projectsWrapper {
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 25px;

  .projectsHeader {
    margin-top: 10vh;
    width: 100%;
    height: auto;
    max-width: 800px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    border: 1px solid green;

    h1 {
      margin: 10px 0 5px;
    }

    p {
      margin: 5px 0 25px;
      width: 80%;
    }
    @media only screen and (max-width: 750px) {
        p {
            width: 100%;
        }
    }
}


  .projectsContainer {
    width: 100%;
    height: auto;
    max-width: 800px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    border: 1px solid black;
  }
}
