@import url("https://fonts.googleapis.com/css?family=Roboto+Mono");
* {
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace; }

body {
  margin: 0;
  padding: 0; }

.App {
  width: 100%;
  height: auto; }
  .App .contentWrapper {
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 25px; }

.Navbar {
  color: white;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  position: fixed;
  display: flex;
  justify-content: center;
  padding: 0 25px;
  z-index: 1000;
  transition: all 0.3s ease; }
  .Navbar .navContent {
    height: 100%;
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: row;
    align-items: center; }
    .Navbar .navContent .logotype {
      width: auto;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .Navbar .navContent .logotype ul {
        list-style: none;
        padding: 0; }
      .Navbar .navContent .logotype br {
        display: none; }
      .Navbar .navContent .logotype p {
        margin: 0; }
      .Navbar .navContent .logotype a {
        font-size: 16px;
        text-decoration: none;
        color: white; }
    .Navbar .navContent .menu {
      flex: 1;
      display: flex;
      justify-content: flex-end; }
      .Navbar .navContent .menu .mobileMenuButton {
        display: none; }
      .Navbar .navContent .menu ul {
        width: auto;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        list-style: none;
        padding: 0; }
        .Navbar .navContent .menu ul li {
          margin-left: 25px; }
          .Navbar .navContent .menu ul li a {
            font-size: 20px;
            text-decoration: none;
            color: white; }
          .Navbar .navContent .menu ul li a:hover {
            border-bottom: 2px solid white; }
    .Navbar .navContent .Close {
      display: none; }
    .Navbar .navContent .Open {
      display: block;
      top: 70px;
      left: 0;
      width: 100%;
      height: auto;
      position: fixed; }
      .Navbar .navContent .Open ul {
        list-style: none;
        padding: 0;
        padding-left: 25px; }
        .Navbar .navContent .Open ul li {
          margin: 10px 0; }
          .Navbar .navContent .Open ul li a {
            font-size: 18px;
            text-decoration: none;
            color: white; }
          .Navbar .navContent .Open ul li a:hover {
            border-bottom: 2px solid white; }

.NavbarScroll {
  color: black;
  background-color: white;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  position: fixed;
  display: flex;
  justify-content: center;
  padding: 0 25px;
  z-index: 1000;
  transition: all 0.3s ease;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.38);
  -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.38);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.38); }
  .NavbarScroll .navContent {
    height: 100%;
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: row;
    align-items: center; }
    .NavbarScroll .navContent .logotype {
      width: auto;
      display: flex;
      align-items: center;
      justify-content: center; }
      .NavbarScroll .navContent .logotype br {
        display: none; }
      .NavbarScroll .navContent .logotype p {
        margin: 0; }
      .NavbarScroll .navContent .logotype a {
        font-size: 16px;
        text-decoration: none;
        color: black; }
    .NavbarScroll .navContent .menu {
      flex: 1;
      display: flex;
      justify-content: flex-end; }
      .NavbarScroll .navContent .menu .mobileMenuButton {
        display: none; }
      .NavbarScroll .navContent .menu ul {
        width: auto;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        list-style: none;
        padding: 0; }
        .NavbarScroll .navContent .menu ul li {
          margin-left: 25px; }
          .NavbarScroll .navContent .menu ul li a {
            font-size: 20px;
            text-decoration: none;
            color: black; }
          .NavbarScroll .navContent .menu ul li a:hover {
            border-bottom: 2px solid black; }
    .NavbarScroll .navContent .Close {
      display: none; }
    .NavbarScroll .navContent .Open {
      display: block;
      background-color: white;
      top: 70px;
      left: 0;
      width: 100%;
      height: auto;
      position: fixed;
      -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.38);
      -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.38);
      box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.38); }
      .NavbarScroll .navContent .Open ul {
        list-style: none;
        padding: 0;
        padding-left: 25px; }
        .NavbarScroll .navContent .Open ul li {
          margin: 10px 0; }
          .NavbarScroll .navContent .Open ul li a {
            font-size: 18px;
            text-decoration: none;
            color: black; }
          .NavbarScroll .navContent .Open ul li a:hover {
            border-bottom: 2px solid white; }

@media only screen and (max-width: 750px) {
  .Navbar .navContent .logotype br, .NavbarScroll .navContent .logotype br {
    display: inline-block; }
  .Navbar .navContent .menu .mobileMenuButton, .NavbarScroll .navContent .menu .mobileMenuButton {
    display: block; }
  .Navbar .navContent .menu ul, .NavbarScroll .navContent .menu ul {
    display: none; } }

.heroPage {
  width: 100%;
  height: 100vh;
  background-color: #16395c;
  display: flex;
  justify-content: center;
  padding: 0 25px; }
  .heroPage .heroContainer {
    width: 100%;
    height: 100vh;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 4em; }
    .heroPage .heroContainer h1, .heroPage .heroContainer p {
      margin: 0;
      color: #fff;
      max-width: 500px; }
    .heroPage .heroContainer p {
      font-size: 18px; }

.landingProject {
  width: 49%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start; }
  .landingProject h2 {
    margin-bottom: 10px; }
  .landingProject .content {
    position: relative;
    width: 100%;
    height: 80%; }
    .landingProject .content .hidden-content {
      height: 100%;
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 0; }
      .landingProject .content .hidden-content h3 {
        margin: 0; }
        .landingProject .content .hidden-content h3 span {
          color: grey; }
      .landingProject .content .hidden-content p {
        margin: 5px 0; }
    .landingProject .content .overlay-content {
      background-color: #A1F0E4;
      background-size: cover;
      background-position: top;
      width: 100%;
      height: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 10;
      transition: all 0.3s cubic-bezier(0, 0, 0, 1.4); }

@media only screen and (max-width: 750px) {
  .landingProject {
    width: 100%;
    height: 250px; } }

.landingProject:hover .overlay-content {
  height: 50%; }

.projectsWrapper {
  max-width: 800px;
  margin-top: 10vh;
  height: auto; }
  .projectsWrapper .projectsHeader {
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column; }
    .projectsWrapper .projectsHeader h1 {
      margin: 10px 0 5px; }
    .projectsWrapper .projectsHeader p {
      margin: 5px 0 25px;
      width: 100%; }
    @media only screen and (max-width: 750px) {
      .projectsWrapper .projectsHeader p {
        width: 100%; } }
  .projectsWrapper .projectsContainer {
    width: 100%;
    height: auto;
    max-width: 800px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap; }

.aboutWrapper {
  max-width: 800px;
  margin-top: 10vh;
  height: auto; }
  .aboutWrapper .aboutHeader {
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column; }
    .aboutWrapper .aboutHeader h1 {
      margin: 10px 0 5px; }
    .aboutWrapper .aboutHeader p {
      margin: 5px 0 25px;
      width: 100%; }
    @media only screen and (max-width: 750px) {
      .aboutWrapper .aboutHeader p {
        width: 100%; } }
  .aboutWrapper .aboutSection .aboutSectionContent {
    height: 130px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 15px 0; }
    .aboutWrapper .aboutSection .aboutSectionContent p {
      flex: 1;
      margin: 0;
      margin-left: 10px; }
      .aboutWrapper .aboutSection .aboutSectionContent p span {
        font-weight: bold; }
    @media only screen and (max-width: 750px) {
      .aboutWrapper .aboutSection .aboutSectionContent p {
        margin-left: 10px; } }
    .aboutWrapper .aboutSection .aboutSectionContent .aboutImage {
      height: 100%;
      width: 130px;
      background-color: #16395c; }

.contactWrapper {
  max-width: 800px;
  margin: 10vh 0;
  height: auto; }
  .contactWrapper .contactHeader {
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column; }
    .contactWrapper .contactHeader h1 {
      margin: 10px 0 5px; }
    .contactWrapper .contactHeader p {
      margin: 5px 0 25px;
      width: 100%; }
    @media only screen and (max-width: 750px) {
      .contactWrapper .contactHeader p {
        width: 100%; } }

.footerWrapper {
  width: 100vw;
  border-top: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 25px; }
  .footerWrapper .footerContent {
    max-width: 800px;
    width: 100%;
    display: flex;
    align-items: flex-start; }
    .footerWrapper .footerContent div {
      margin-right: 120px; }
      .footerWrapper .footerContent div p, .footerWrapper .footerContent div a {
        font-size: 14px;
        text-decoration: none;
        color: black; }
      .footerWrapper .footerContent div a:hover {
        border-bottom: 1px solid black; }
    .footerWrapper .footerContent div:nth-child(3) {
      margin-left: auto;
      margin-right: 0; }
  @media only screen and (max-width: 750px) {
    .footerWrapper .footerContent {
      display: flex;
      flex-direction: column; }
      .footerWrapper .footerContent div {
        margin-right: 0; }
      .footerWrapper .footerContent div:nth-child(3) {
        margin-left: 0; } }
